/* -*- css-indent-offset: 2 -*- */

html, body {
  margin: 0;
  padding: 0 0 1em;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 150%;
}

.ready {
  background-color: green;
}
.needs-attention {
  background-color: orange;
}
.overdue {
  background-color: red;
}

summary {
  list-style: none;
}

.todo-group {
  border-top: 1px black solid;
}

.todo-group:first-of-type {
  border-top: 0;
}

.todo-group-header {
  font-size: 1.2rem;
  padding: 1.2rem 1rem;
  background: lightgrey;
  position: relative;
}

.todo-tag {
  font-weight: bold;
}

.todo-group-status-indicator {
  position: absolute;
  right: 1rem;
  top: 50%;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  margin-top: -7px;
}

.todo-item {
  border-top: 1px grey solid;
  padding: 1rem;
}

.created, .scheduled, .deadline {
  width: 4em;
  white-space: nowrap;
}

.todo-item .created { display: none; }

.todo-item.stale .created {
  display: inline;
  margin-left: 0.5em;
  color: #999;
}

.updated-at {
  background: white;
}
